.titles {
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: space-between;
    margin-right: 60px;
    margin-left: 60px;
}

#timer {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.timer-icon{
    height: 30px;
}
#countdown{
    font-size: 25px;
}
.wrapper > h2 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    margin-bottom: auto;
    height: 100%;
    margin-right: 15rem;
}

.wrapper {
    display: grid;
    place-items: center;
    height: 40vh;
    position: relative;
    top: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 30px;
    justify-content: start;
    align-items: start;
}

.square {
    width: 75px;
    height: 75px;
    background-color: #3498db;
    border-radius: 5px;
}
.square0 {
    width: 75px;
    height: 75px;
    background-color: #3498db;
    border-radius: 5px;
}

.grid>.square:nth-child(-n+10) {
    grid-column: span 1;
}

.inputboxcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    flex-direction: column;
}

.inputboxcontainer>button {
    width: 75px;
    height: 35px;
    background-color: black;
    border-radius: 8px;
    color: #ccc;
    margin: 10px;
}

#inputbox {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    box-sizing: border-box;
}

#square1{
    display: none;
}
#square2{
    display: none;
}
#square3{
    display: none;
}
#square4{
    display: none;
}
#square5{
    display: none;
}
